
$color1: #B33D16;
$color1light: rgba(179, 61, 22,0.8);

$color2: #EEA88E;
$color3: #5F5653;
$color4:#040404;
$color5:#232CFB;

// General settings HTML
* {
    box-sizing:border-box;
    text-align:center;
    width: auto;
    
  }

html {
    background: $color1;
    color: floralwhite;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    vertical-align: center;
        min-width: 320px;
}

section {
    min-height: 100vh;
    padding: 0rem;
    
    
    
}
h1 {font-size: 5rem; }

h3 {font-size: 3rem;}

p {font-size: 1.75rem; text-align: left;}

 @media screen and (max-width: 800px){
    h1 {
        font-size: 3.3rem;
    }
    h3 {
        font-size: 2.2rem;
    }
    
 }

img {
    background: black;
}

.lp-background-grey {

    background-color: $color3;
    
}

.lp-background-orange {

    background-color: $color1;
}


.fixed-nav-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: auto;
    
  }


.ld-Logo {
    position: fixed;
    top: 3rem;
    right: 1rem;
    z-index: 9999;
    max-width: 100%;
    height: auto;
    
}  

.pic_wrapper {

    display: flexbox;
    flex-direction: row;
    text-align: center;
    vertical-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-radius: 2em;
   

}

.pic {
    display: inline;
    max-width: 640px;
    min-width: 220px;
    border-radius: 2em;
    right: 3rem;

}

.pic1 {
    transform: rotate(-5deg);
    
    
}

.pic2 {
    transform: rotate(+5deg);
    
}

figure {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin: 0;

}

figcaption {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    color:white;
    line-height:10rem;
    z-index: 2;
  }

  .intro_untertitel {
    position: relative;
    text-align: center;
    padding: 0rem 5rem;
    

  }

  .lp_subtitle {
    display: inline;
    background: $color5;
    color: $color2;
    margin: 0;
    font-size: 2.0rem;
    padding: 0rem 2rem;
    text-align: center;
    line-height: 8rem;
    border-radius: 0.85rem;
  }

  .textwrapper {
    display: flex;
    position: relative;
    flex-flow: row;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: left;
  }

  .lp_text {
    position: relative;
    max-width: 45%;
    width: auto;
    padding: 2rem;
    

  }
  .lp_textpic {
      position: relative;
      max-width: 45%;
  }

  @media screen and (max-width: 1000px){

    .textwrapper {
        display: flex;
        flex-flow: column;
        padding-left: 3rem;
        padding-right: 3rem;
      }
    
      .lp_text {
        position: relative;
        max-width: 90%;
        padding: 2rem;
    
      }
      .lp_textpic {
          position: relative;
          max-width: 90%;
          padding: 2rem;
      }
      .lp_subtitle {
        
        font-size: 1.75rem;
        padding: 0rem 1rem;
        text-align: center;
        line-height: 2rem;
        border-radius: 0.85rem;
      }

  }

