* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  width: auto;
}

html {
  background: #B33D16;
  color: floralwhite;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  vertical-align: center;
  min-width: 320px;
}

section {
  min-height: 100vh;
  padding: 0rem;
}

h1 {
  font-size: 5rem;
  text-shadow: 3px 3px 3px rgba(4, 4, 4, 0.7);
}

h3 {
  font-size: 3rem;
  text-shadow: 3px 3px 3px rgba(4, 4, 4, 0.7);
}

p {
  font-size: 1.75rem;
  text-align: left;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 3.3rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  .lp-Logo {
    max-width: 60%;
  }
}

img {
  background: black;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(4, 4, 4, 0.7);
          box-shadow: 5px 5px 5px 0px rgba(4, 4, 4, 0.7);
}

.lp-background-grey {
  position: relative;
  background-color: #5F5653;
}

.lp-background-orange {
  position: relative;
  background-color: #B33D16;
}

.fixed-nav-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: auto;
}

.lp-Logo {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 9999;
  max-width: 100%;
}

.pic_wrapper {
  display: flexbox;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  vertical-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-radius: 2em;
}

.pic {
  display: inline;
  max-width: 640px;
  min-width: 220px;
  border-radius: 2em;
  right: 3rem;
}

.pic1 {
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.pic2 {
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

figure {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  line-height: 10rem;
  z-index: 2;
}

.intro_untertitel {
  position: relative;
  text-align: center;
  padding: 0rem 5rem;
}

.lp_subtitle {
  position: relative;
  display: inline;
  background: #232CFB;
  color: #EEA88E;
  margin: 0;
  font-size: 2.0rem;
  padding: 0rem 2rem;
  text-align: center;
  line-height: 8rem;
  border-radius: 0.85rem;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(4, 4, 4, 0.7);
          box-shadow: 5px 5px 5px 0px rgba(4, 4, 4, 0.7);
  font-style: italic;
}

.textwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: left;
}

.lp_text {
  position: relative;
  max-width: 45%;
  width: auto;
  padding: 2rem;
}

.lp_einleitung {
  font-weight: 700;
  color: #040404;
}

.lp_textpic {
  position: relative;
  max-width: 45%;
}

@media screen and (max-width: 1000px) {
  .textwrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .lp_text {
    position: relative;
    max-width: 90%;
    padding: 2rem;
  }
  .lp_einleitung {
    font-weight: 900;
  }
  .lp_textpic {
    position: relative;
    max-width: 90%;
    padding: 2rem;
  }
  .lp_subtitle {
    font-size: 1.75rem;
    padding: 0rem 1rem;
    text-align: center;
    line-height: 2rem;
    border-radius: 0.85rem;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(4, 4, 4, 0.7);
            box-shadow: 5px 5px 5px 0px rgba(4, 4, 4, 0.7);
  }
  .lp-Logo {
    max-width: 60%;
  }
}

.footer-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  color: floralwhite;
}

.modal-bg {
  background: #5F5653;
}
/*# sourceMappingURL=main.css.map */